body{
    background-color: #ddc3a0;
    font-family: garamond;
    margin: 0;
    
}

.trim{
    background-image: url(../imagens/principal.png);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.trim-content{
    text-align: center;
    color: black;
    margin-top: 150px;
}

.trim-content h1{
    text-transform: uppercase;
    font-size: 36px;
    text-shadow: 1px 1px 1px rgb(122, 122, 122) ;
}

.trim-content p{
    background-color: rgba(165, 42, 42, 0.911);
    color: white;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.trim nav ul{
    text-align: right;
    margin: 20px 50px 0 0;
}

.trim nav li{
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin-left: 10px;
    border: solid 1px white;
    background: rgba(22, 18, 12, 0.3);

}

.trim nav a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.trim nav li:hover{
    background: rgba(22, 18, 12, 0.5);
}

main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
    
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card-1, .card-2{
    margin-right: 2%;
}

.card img{
    width: 100%;
    display: block;
}

.card p{
    background-color: rgba(180, 7, 7, 0.911);
    text-shadow: 1px 1px 1px rgba(240, 57, 57, 0.911);
    color: white;
    margin: 0;
    padding: 15px;
}

.content-header{
    border-bottom: solid 2px rgb(185, 163, 134);
    padding: 10px;
    background-color: #b9a386;
    color:black;
}

.content-header h2{
    margin: 0;
}

.content-footer{
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background: #7e6e5b;
    line-height: 80px;
}

